@use '../../../styles' as *;

.accordion {
    --accordion-background: rgba(44, 38, 42, 0.4);
    --accordion-background-active: #55453D;
    --accordion-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);
    --accordion-shadow-active: 4px 8px 15px rgba(0, 0, 0, 0.1);
    --accordion-duration: .5s;

    width: 100%;
    background-color: color(gray-800);
    border-radius: rem(40);
    box-shadow: var(--accordion-shadow);
    transition: background-color var(--accordion-duration) ease, box-shadow var(--accordion-duration) ease, transform .3s ease;
    padding: rem(32);
    cursor: pointer;

    @media screen and (max-width: point(md)) {
        padding-right: rem(40);
    }

    &:hover {
        transform: translateY(-4px);
    }
}

.accordion__title {
    @include font-nunito-semibold;
    font-size: font(24);
    line-height: 130%;
    color: color(white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: point(md)) {
        font-size: font(20);
    }

    svg {
        width: rem(32);
        height: rem(32);
        color: color(white);
        transition: transform var(--accordion-duration) ease;

        path {
            transition: stroke .3s ease;
        }

        @media screen and (max-width: point(md)) {
            display: none;
        }
    }
    .minus {
        display: none;
    }
}

.accordion__body {
    @include font-nunito-regular;
    font-size: font(16);
    line-height: 170%;
    color: color(white);
    overflow: hidden;
    max-height: 0;
    margin-bottom: 0;
    transition: max-height var(--accordion-duration) ease, margin-bottom var(--accordion-duration) ease, margin-top var(--accordion-duration) ease;
}

.accordion.active {
    background-color: color(gray-700);
    box-shadow: var(--accordion-shadow-active);

    .accordion__title {
        opacity: 1;

        .minus {
            display: block;
            @media screen and (max-width: point(md)) {
                display: none;
            }
        }
        .plus {
            display: none;
        }
    }

    svg {
        transform: rotate(-180deg);
    }

    .accordion__body {
        margin-top: rem(32);
        max-height: rem(100);
        margin-bottom: rem(16);
        @media screen and (max-width: point(md)) {
            max-height: rem(200);
            margin-bottom: rem(8);
        }
    }
}