@use "../../../styles" as *;

:root {
    --button-border: #{rem(6)};
}

.button {
    @include font-nunito-semibold;
    font-size: font(20);
    line-height: 150%;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    box-shadow: none;
    border-radius: var(--button-border);
    transition: background-color .3s, border-color .3s, color .3s, transform .3s;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    svg { width: rem(24); height: rem(18); margin-right: rem(8); }
    svg path { transition: fill .3s, stroke .3s; }

    @media screen and (max-width: point(md)) {
        font-size: font(16);
    }
}

.button-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}

@each $name, $color in allColors() {
    .button.button-#{$name} {
        color: color(white);
        background-color: color($name);

        padding: rem(8) rem(40);

        &:hover { background-color: rgba($color, 80%); }
        &:active { background-color: rgba($color, 50%); }

        @media screen and (max-width: point(md)) {
            padding: rem(8) rem(32);
        }
    }
}

.button.button-white {
    color: color(gray-900);
}

.button.button-red {
    font-size: font(24);
    padding: rem(16) rem(86);
}