@use 'sass:map';
@use 'sass:list';
@use 'mixins' as *;

$fonts: (14, 16, 20, 24, 32, 48, 56, 80);

@mixin generateFonts() {
    @each $name in $fonts {
        --font-size-#{$name}: #{rem($name)};
    }   
}

@function font($name) {
    @if not list.index($fonts, $name) {
        @error '"#{$name}" is not a valid size';
    }
   @return var(--font-size-#{$name});
}

@mixin importFonts() {
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Shadows+Into+Light&display=swap');
}

@mixin font-nunito-regular {
    font-family: "Nunito", sans-serif;
    font-weight: 400 !important;
}

@mixin font-nunito-semibold {
    font-family: "Nunito", sans-serif;
    font-weight: 600 !important;
}

@mixin font-into {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: 400 !important;
}



