@use "../../../styles" as *;

.welcome {
    @media screen and (max-width: point(md)) {
        min-height: 100vh;
    }

    button {
        @media screen and (max-width: point(md)) {
            width: 100%;
        }
    }
}

.welcome__content {
    display: flex;
    justify-content: center;
    align-items: stretch;

    @media screen and (max-width: point(md)) {
        flex-direction: column-reverse;
        margin-top: rem(-320);
    }
}

.welcome__image {
    position: relative;
    flex: 1;
    width: rem(500);
    margin-right: rem(76);
    @media screen and (max-width: point(md)) {
        width: 100%;
        margin-right: 0;
    }

    > img {
        position: absolute;
        width: 100%;
        height: auto;
        top: rem(-32);
        right: 0;
        @media screen and (max-width: point(md)) {
            width: rem(318);
            right: auto;
            left: rem(20);
            top: rem(32);
            transform: none !important;
        }
        @media screen and (max-width: point(sm)) {
            transform: translateX(-50%) !important;
            left: 50%;
        }
    }
}

.welcome__text-block {
    p {
        @include font-nunito-regular;
        font-size: font(24);
        line-height: 170%;
        max-width: rem(743);
        margin-top: rem(32);
        margin-bottom: rem(48);
        @media screen and (max-width: point(md)) {
            font-size: font(16);
            margin: rem(32) 0;
        }
    }
    @media screen and (max-width: point(md)) {
        padding: 0 rem(20);
    }
}

.welcome__background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    z-index: -1;
    top: -27%;
    @media screen and (max-width: point(lg)) {
        background-size: 175%;
    }
    @media screen and (max-width: point(md)) {
        top: 0;
        background-size: 285%;
    }
    @media screen and (max-width: point(sm)) {
        background-size: 510%;
    }
}