@use "../../../styles" as *;

.rarity {
    flex-direction: column;
    @media screen and (max-width: point(md)) {
        padding-top: 0 !important;
    }
}

.rarity__list {
    background: color(gray-800);
    height: rem(850);
    width: 100%;
    mask: url(./assets/clip-1.svg);
    mask-size: 100% 100%;
    margin-top: rem(64);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: rem(1400);
    @media screen and (max-width: point(md)) {
        width: 300%;
        height: rem(900);
    }
    h3 { 
        margin-top: rem(24); 
        @media screen and (max-width: point(md)) {
            margin-top: rem(16);
        }
    }
    p { 
        @include font-nunito-regular;
        font-size: font(24);
        line-height: 170%;
        text-align: center;
        margin: rem(24) 0; 
        width: rem(850); 
        max-width: rem(650);
        @media screen and (max-width: point(md)) {
            max-width: calc(100vw - rem(120));
        }
        @media screen and (max-width: point(sm)) {
            max-width: calc(100vw - rem(40));
        }
    }
}

.rarity__list-swiper {
    width: 100%;
    height: 100%;
    margin-top: rem(32);
    @media screen and (max-width: point(md)) {
        margin-top: rem(16);
    }
}

.rarity__list {
    .rarity__slide {
        width: rem(411);
        height: rem(411);
        border-radius: rem(40);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .swiper {
        padding-bottom: rem(100);
        @media screen and (max-width: point(md)) {
            padding-bottom: rem(80);
        }
    }

    .swiper-button-prev, .swiper-button-next {
        background-color: color(gray-400);
        border-radius: 50%;
        width: rem(52);
        height: rem(52);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .15s ease;
        &::after { font-size: rem(24); }
        &:hover { background-color: color(red); }
    }

    .swiper-button-prev {
        top: auto;
        bottom: 0;
        left: 45%;
        color: color(white);
    }
    .swiper-button-next {
        top: auto;
        bottom: 0;
        right: 45%;
        color: color(white);
    }
}