@use './styles/colors';
@use './styles/fonts';
@use './styles/grid';
@use './styles/mixins';


html {
    @include grid.documentScale;
}

:root {
    @include colors.generateColors;
    @include fonts.generateFonts;
}

@include fonts.importFonts;


* {
    box-sizing: border-box;
}

html {
    scrollbar-color: colors.color(black) colors.color(gray-700);
    scrollbar-width: thin;
    ::-webkit-scrollbar { width: 4px; height: 4px; }
    ::-webkit-scrollbar-track { background-color: colors.color(black); }
    ::-webkit-scrollbar-thumb { background-color: colors.color(gray-700); }
    color: colors.color(white);
}

body {
    background-color: colors.color(gray-900);
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: none;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    @include fonts.font-into;
    color: colors.color(white);
    line-height: 130%;
}

h1 {
    font-size: fonts.font(80);
    @media screen and (max-width: grid.point(md)) {
        font-size: fonts.font(48);
    }
}

h2 {
    font-size: fonts.font(56);
}

h3 {
    font-size: fonts.font(48);
}

.section {
    position: relative;
    padding: mixins.rem(180) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: grid.point(md)) {
        padding: mixins.rem(110) 0;
    }
}